/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  
  --width: 48px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#piano {
  margin-top: 200px;
  height: 200px;
  position: relative;
}

.octave {
  position: relative;
  display: inline-block;
  height: 100%;
  width: calc(100%/7);
}

.white, .black {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.black {
  height: 60%;
  z-index: 1;
}

.white .key {
  width: var(--width);
  border: 1px solid #cccccc;
  background-color: white;
}

.black .key {
  width: 
  background-color: black;
  border: 0px solid black;
  margin-left: 25px;
}
.black .key:first-child{
  margin-left: 37px;
}
.black .key:nth-child(3){
  visibility: hidden;
}