body {
  padding-top: 100px;
}

* { box-sizing: border-box; }

.piano {
  display: flex;
  flex-direction: row;
}

svg.big {
  height: 1px;
  overflow: visible;
}

.white {
  fill: white;
  stroke: black;
  border-bottom: 5px solid #89A1EE;
  border-radius: 5px;
}

.black {
  fill:black;
  stroke:black;
}